/*General*/
@font-face {
  font-family: 'Norse';
  src: url('fonts/norse/Norse-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

/*Main*/

.main {
  display: flex;
  align-items: center;
}

/*Sidebar*/

.sidebar {
  position: relative;
  height: 100vh;
}

.sidebar__background {
  width: 500px;
  height: 100%;
  display: block;
}

.sidebar__logo {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.sidebar__logo-img {
  width: 100px;
}

.sidebar__logo-text {
  font-family: 'Norse';
  font-size: 5rem;
  color: white;
}

.sidebar__attribution {
  position: absolute;
  bottom: 20px;
  left: 30%;
  font-size: 0.75rem;
}

.sidebar__attribution,
.sidebar__attribution a {
  color: rgb(236, 236, 236);
}

/*Call To Action*/

.call-to-action__content {
  width: 500px;
  padding-left: 3em;
}

.call-to-action__description {
  font-weight: 700;
  margin-bottom: 1.5em;
}

.italic-span {
  font-style: italic;
}
