/*General*/
@font-face {
  font-family: 'Norse';
  src: url('fonts/norse/Norse-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

/*Main*/

.main {
  display: flex;
  align-items: center;
}

.main__content {
  width: 100%;
}

/*Sidebar*/

.sidebar {
  position: relative;
  height: 100vh;
}

.sidebar__background {
  width: 500px;
  height: 100%;
  display: block;
}

.sidebar__logo {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.sidebar__logo-img {
  width: 100px;
}

.sidebar__logo-text {
  font-family: 'Norse';
  font-size: 5rem;
  color: white;
}

.sidebar__attribution {
  position: absolute;
  bottom: 20px;
  left: 30%;
  font-size: 0.75rem;
}

.sidebar__attribution,
.sidebar__attribution a {
  color: rgb(236, 236, 236);
}

/*Call To Action*/

.call-to-action__content {
  width: 500px;
  padding-left: 3em;
}

.call-to-action__description {
  font-weight: 700;
  margin-bottom: 1.5em;
}

.italic-span {
  font-style: italic;
}

/*Form*/
.form {
  width: 100%;
  margin-top: 3em;
}

.form__top {
  padding: 0.5em 0 0.5em 3em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.form__title {
  font-size: 1.25rem;
  margin-bottom: 1em;
}

.form__input-section {
  display: flex;
  gap: 3em;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.form__input-container {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  padding: 3px 5px;
  outline: none;
}

input:focus {
  border-color: blue;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

input:user-invalid {
  border-color: red;
}

.form__bottom {
  margin: 2em 0 0 3em;
}

.form__bottom button {
  background-color: #596d48;
  color: white;
  border: none;
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 2em;
}

.log-in-link {
  color: #596d48;
  text-decoration: none;
  font-weight: 700;
}
