/*General*/
@font-face {
  font-family: 'Norse';
  src: url('fonts/norse/Norse-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}
